###############################################################################
# Nagios Configuration for Tourism Website
###############################################################################

define host {
    use                     generic-host
    host_name               tourism-website
    alias                   Tourism Information Website Node
    address                 host.docker.internal
    check_command           check-host-alive
    max_check_attempts      5
    check_period            24x7
    notification_interval   30
    notification_period     24x7
}

define service {
    use                     generic-service
    host_name               tourism-website
    service_description     HTTP Availability
    check_command           check_http!-p 30080
    max_check_attempts      3
    check_interval          1
    retry_interval          1
    check_period            24x7
    notification_interval   30
    notification_period     24x7
}

define service {
    use                     generic-service
    host_name               tourism-website
    service_description     Ping Response
    check_command           check_ping!100.0,20%!500.0,60%
    max_check_attempts      3
    check_interval          2
    retry_interval          1
    check_period            24x7
    notification_interval   30
    notification_period     24x7
}
